<div class="navbar-right">
  <ul class="nav navbar-nav">
    <li><a href="http://www.bmi-online.nl/">Home</a></li>
    <%= render_nav_actions do |config, action| %>
      <li><%= action %></li>
    <% end %>
  </ul>

  <% if has_user_authentication_provider? %>
    <ul class="nav navbar-nav">
      <% if current_user %>
        <li>
          <%= link_to t('blacklight.header_links.logout'), destroy_user_session_path %>
        </li>
        <% unless current_user.to_s.blank? -%>
          <li>
            <%= link_to current_user, edit_user_registration_path %>
          </li>
          <% if Rails.configuration.x.admin_users_email.include? current_user.email %>
            <li>
              <%= link_to 'New', new_admin_path %>
            </li>
            <li>
              <%= link_to "Export", admins_path(format: 'csv') %>
            </li>
          <% end %>
        <% end %>
      <% else %>
        <li>
          <%= link_to t('blacklight.header_links.login'), new_user_session_path %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
